.image-card {
    margin: 10px;
    position: relative;
}

.image-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.image-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}